.landing {
    background-image: linear-gradient(rgb(196, 218, 255), rgba(196, 218, 255, 0.591));
    padding-bottom: 70px;
}

.landing-inputs {
    width: 85%;
}

.landing-buttons {
    width: 85%;
}