.landing {
    background-image: linear-gradient(rgb(212, 229, 255), rgba(212, 229, 255, 0.68));
    padding-bottom: 70px;
}

.landing-inputs {
    width: 85%;
}

.landing-buttons {
    width: 85%;
}

.welcome {
    margin-bottom: 30px;
}