.App {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Alice', serif;
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.note {
  font-size: 12px;
}

#question {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}