.App {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Alice', serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.note {
  font-size: 12px;
}

#question {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.box-image {
  width: 100%;
}

.box {
  background-color: white;
  margin-top: 0;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  max-height: 400px;
  min-height: 350px;
}

.scores {
  /* margin: auto; */
}